spring:
  application:
    name: product
  profiles:
    active: dev
---
spring:
  config:
    activate:
      on-profile: dev

  r2dbc:
    url: ${DB_URL:r2dbc:mssql://localhost:1433/product}
    username: ${DB_USER:sa}
    password: ${DB_PASS:YourStrong!Passw0rd}

server:
  port: ${SERVER_PORT:9000}

---
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}
