USE [master]
GO
/****** Object:  Database [product]    Script Date: 11/18/2025 9:46:20 AM ******/
CREATE DATABASE [product]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'product', FILENAME = N'/var/opt/mssql/data/product.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'product_log', FILENAME = N'/var/opt/mssql/data/product_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [product].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [product]
GO
/****** Object:  Table [dbo].[attribute_groups]    Script Date: 11/18/2025 9:46:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attribute_groups](
	[uuid] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_attribute_groups] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attributes]    Script Date: 11/18/2025 9:46:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attributes](
	[uuid] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[reference_uuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_attributes] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 11/18/2025 9:46:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[uuid] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[photo_url] [nvarchar](100) NULL,
 CONSTRAINT [PK_brands] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catalog_brands]    Script Date: 11/18/2025 9:46:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catalog_brands](
	[uuid] [uniqueidentifier] NOT NULL,
	[catalog_uuid] [uniqueidentifier] NOT NULL,
	[brand_uuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_catalog_brands] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catalogs]    Script Date: 11/18/2025 9:46:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catalogs](
	[uuid] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[photo_url] [nvarchar](100) NULL,
 CONSTRAINT [PK_catalogs] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_attribute_values]    Script Date: 11/18/2025 9:46:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_attribute_values](
	[uuid] [uniqueidentifier] NOT NULL,
	[value] [nvarchar](50) NOT NULL,
	[reference_uuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_product_attribute_values] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_attributes]    Script Date: 11/18/2025 9:46:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_attributes](
	[uuid] [uniqueidentifier] NOT NULL,
	[attribute_uuid] [uniqueidentifier] NOT NULL,
	[product_uuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_product_attributes] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 11/18/2025 9:46:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_images](
	[uuid] [uniqueidentifier] NOT NULL,
	[reference_uuid] [uniqueidentifier] NOT NULL,
	[photo_url] [nvarchar](100) NOT NULL,
	[order] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_product_images] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_line_products]    Script Date: 11/18/2025 9:46:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_line_products](
	[uuid] [uniqueidentifier] NOT NULL,
	[product_line_uuid] [uniqueidentifier] NOT NULL,
	[product_uuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_product_line_products] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_lines]    Script Date: 11/18/2025 9:46:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_lines](
	[uuid] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[is_default] [bit] NULL,
	[reference_uuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_product_lines] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 11/18/2025 9:46:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[uuid] [uniqueidentifier] NOT NULL,
	[photo_url] [nvarchar](100) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[unit_price] [money] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[attribute_groups] ([uuid], [name]) VALUES (N'ecba6fb4-b53d-4950-b6ce-f0f81029b36e', N'Camera & Màn hình')
INSERT [dbo].[attribute_groups] ([uuid], [name]) VALUES (N'82fa6711-4bf3-4580-8927-7520f9b0e2cf', N'CPU & Bộ nhớ')
INSERT [dbo].[attribute_groups] ([uuid], [name]) VALUES (N'8bf46e7c-54fe-4e35-86e0-203b992517d6', N'Kết nối')
GO
INSERT [dbo].[attributes] ([uuid], [name], [reference_uuid]) VALUES (N'b4715531-fa45-42d3-87d2-9760edf9bf82', N'Bảo mật nâng cao', N'9a3fdb79-7ea8-4ff4-8156-0cfcc4870e8f')
INSERT [dbo].[attributes] ([uuid], [name], [reference_uuid]) VALUES (N'da3e5633-d48f-4f71-b1bf-9d30a8522771', N'Bluetooth', N'8bf46e7c-54fe-4e35-86e0-203b992517d6')
INSERT [dbo].[attributes] ([uuid], [name], [reference_uuid]) VALUES (N'74f4de2b-f9c4-4c7a-8487-f2c239c27e4b', N'Bộ nhớ', N'82fa6711-4bf3-4580-8927-7520f9b0e2cf')
GO
INSERT [dbo].[brands] ([uuid], [name], [photo_url]) VALUES (N'94d3dd4f-52af-4b37-8993-39f4bec5f291', N'Sam sung', NULL)
INSERT [dbo].[brands] ([uuid], [name], [photo_url]) VALUES (N'7de45d4e-5f94-4b41-8b99-78f3294b54b1', N'Apple', NULL)
GO
INSERT [dbo].[catalog_brands] ([uuid], [catalog_uuid], [brand_uuid]) VALUES (N'796d5a40-c71d-4f01-a4ec-36c143e60017', N'90dcfb9d-bd10-469d-85c4-bde834a79915', N'94d3dd4f-52af-4b37-8993-39f4bec5f291')
INSERT [dbo].[catalog_brands] ([uuid], [catalog_uuid], [brand_uuid]) VALUES (N'a4dedc57-8aef-48b1-bee8-0c83c709e915', N'736acea0-82eb-4dc8-9699-ebc62d7ac42a', N'94d3dd4f-52af-4b37-8993-39f4bec5f291')
INSERT [dbo].[catalog_brands] ([uuid], [catalog_uuid], [brand_uuid]) VALUES (N'63fe913b-1257-4d4f-a5a6-2e0031203ccd', N'90dcfb9d-bd10-469d-85c4-bde834a79915', N'7de45d4e-5f94-4b41-8b99-78f3294b54b1')
GO
INSERT [dbo].[catalogs] ([uuid], [name], [photo_url]) VALUES (N'90dcfb9d-bd10-469d-85c4-bde834a79915', N'Điện thoại', NULL)
INSERT [dbo].[catalogs] ([uuid], [name], [photo_url]) VALUES (N'736acea0-82eb-4dc8-9699-ebc62d7ac42a', N'Tai nghe', NULL)
GO
INSERT [dbo].[product_attribute_values] ([uuid], [value], [reference_uuid]) VALUES (N'c6f5c7f6-2390-49e9-9d1d-015f4833d5a3', N'IP68', N'2d36e4e9-e5b8-43f6-a66a-fc144997004b')
INSERT [dbo].[product_attribute_values] ([uuid], [value], [reference_uuid]) VALUES (N'596a9665-e4a7-43f6-a00b-020d3a4a82ad', N'Điều chỉnh khẩu độ', N'd5280b6b-3387-4cb4-9b15-4e29151f55aa')
INSERT [dbo].[product_attribute_values] ([uuid], [value], [reference_uuid]) VALUES (N'e8c66ef6-cea9-4eb3-b009-05ba8b59303e', N'4K 2160p@30fps', N'bb1a702d-3e9b-451d-bbe5-7d61a28ee46d')
GO
INSERT [dbo].[product_attributes] ([uuid], [attribute_uuid], [product_uuid]) VALUES (N'22d23e90-4e1d-48d1-a15e-8e7cf0ad6ef0', N'cfc5d558-2b98-4f86-a906-001947a35bb1', N'b16c1b52-ab45-44f3-b767-ad8c13499afc')
INSERT [dbo].[product_attributes] ([uuid], [attribute_uuid], [product_uuid]) VALUES (N'28d42aa9-9815-464f-92f2-acd47d17971a', N'44ac9051-51c0-4985-bc64-048ae4804fbf', N'b16c1b52-ab45-44f3-b767-ad8c13499afc')
INSERT [dbo].[product_attributes] ([uuid], [attribute_uuid], [product_uuid]) VALUES (N'a77888a8-4bba-4e08-bfca-6fcf9e609ec2', N'44ac9051-51c0-4985-bc64-048ae4804fbf', N'7a910a75-5eb8-490e-823d-e00fa3d58181')
GO
INSERT [dbo].[product_line_products] ([uuid], [product_line_uuid], [product_uuid]) VALUES (N'735d6345-bc3d-4ad4-8c65-f0c0bea1f79e', N'954c62ca-267c-4754-9057-11c93f15a5ad', N'013abbad-7de9-457f-aaa1-2587fb6e8a52')
INSERT [dbo].[product_line_products] ([uuid], [product_line_uuid], [product_uuid]) VALUES (N'bde3b1d3-a001-4173-a7c0-31b023d7dce2', N'b387b0ea-0f83-42b4-b80a-2c69c17d7d3b', N'b16c1b52-ab45-44f3-b767-ad8c13499afc')
INSERT [dbo].[product_line_products] ([uuid], [product_line_uuid], [product_uuid]) VALUES (N'7ac719db-7c07-4626-9a10-9c0abd2088bf', N'a24081d8-c95d-48d0-ac84-2e9c654077de', N'7a910a75-5eb8-490e-823d-e00fa3d58181')
GO
INSERT [dbo].[product_lines] ([uuid], [name], [is_default], [reference_uuid]) VALUES (N'954c62ca-267c-4754-9057-11c93f15a5ad', N'Default', 1, N'a4dedc57-8aef-48b1-bee8-0c83c709e915')
INSERT [dbo].[product_lines] ([uuid], [name], [is_default], [reference_uuid]) VALUES (N'b387b0ea-0f83-42b4-b80a-2c69c17d7d3b', N'IPhone 17', 0, N'63fe913b-1257-4d4f-a5a6-2e0031203ccd')
INSERT [dbo].[product_lines] ([uuid], [name], [is_default], [reference_uuid]) VALUES (N'a24081d8-c95d-48d0-ac84-2e9c654077de', N'Galaxy A seri', 0, N'796d5a40-c71d-4f01-a4ec-36c143e60017')
GO
INSERT [dbo].[products] ([uuid], [photo_url], [name], [status], [unit_price]) VALUES (N'013abbad-7de9-457f-aaa1-2587fb6e8a52', N'33a1bb54-cd0c-4dee-a185-a1e04917dc27', N'Tai nghe Bluetooth AirPods Pro MagSafe Charge Apple MLWK3', N'ACTIVE', 2000.0000)
INSERT [dbo].[products] ([uuid], [photo_url], [name], [status], [unit_price]) VALUES (N'feacac2c-3e7d-48fa-9b44-9fd4b4143f14', N'd611aacb-cbf6-4587-ab8c-5d0058e2b175', N'Điện thoại 2', N'ACTIVE', 1000.0000)
INSERT [dbo].[products] ([uuid], [photo_url], [name], [status], [unit_price]) VALUES (N'b16c1b52-ab45-44f3-b767-ad8c13499afc', N'a8a3245d-3bf6-4e6a-be63-5659167cef30', N'Điện thoại iPhone 17 Pro Max 256GB', N'ACTIVE', 17000.0000)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_attribute_groups]    Script Date: 11/18/2025 9:46:20 AM ******/
ALTER TABLE [dbo].[attribute_groups] ADD  CONSTRAINT [UK_attribute_groups] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_attributes]    Script Date: 11/18/2025 9:46:20 AM ******/
ALTER TABLE [dbo].[attributes] ADD  CONSTRAINT [UK_attributes] UNIQUE NONCLUSTERED 
(
	[name] ASC,
	[reference_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_brands]    Script Date: 11/18/2025 9:46:20 AM ******/
ALTER TABLE [dbo].[brands] ADD  CONSTRAINT [UK_brands] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_catalog_brands]    Script Date: 11/18/2025 9:46:20 AM ******/
ALTER TABLE [dbo].[catalog_brands] ADD  CONSTRAINT [UK_catalog_brands] UNIQUE NONCLUSTERED 
(
	[brand_uuid] ASC,
	[catalog_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_catalogs]    Script Date: 11/18/2025 9:46:20 AM ******/
ALTER TABLE [dbo].[catalogs] ADD  CONSTRAINT [UK_catalogs] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_product_attributes]    Script Date: 11/18/2025 9:46:20 AM ******/
ALTER TABLE [dbo].[product_attributes] ADD  CONSTRAINT [UK_product_attributes] UNIQUE NONCLUSTERED 
(
	[attribute_uuid] ASC,
	[product_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_line_products]    Script Date: 11/18/2025 9:46:20 AM ******/
ALTER TABLE [dbo].[product_line_products] ADD  CONSTRAINT [IX_product_line_products] UNIQUE NONCLUSTERED 
(
	[product_line_uuid] ASC,
	[product_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_product_lines]    Script Date: 11/18/2025 9:46:20 AM ******/
ALTER TABLE [dbo].[product_lines] ADD  CONSTRAINT [UK_product_lines] UNIQUE NONCLUSTERED 
(
	[name] ASC,
	[reference_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[attribute_groups] ADD  CONSTRAINT [DF_attribute_groups_uuid]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[attributes] ADD  CONSTRAINT [DF_attributes_uuid]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[brands] ADD  CONSTRAINT [DF_brands_id]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[catalog_brands] ADD  CONSTRAINT [DF_catalog_brands_id]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[catalogs] ADD  CONSTRAINT [DF_catalogs_id]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[product_attribute_values] ADD  CONSTRAINT [DF_product_attribute_values_uuid]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[product_attributes] ADD  CONSTRAINT [DF_product_attributes_uuid]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[product_images] ADD  CONSTRAINT [DF_product_images_uuid]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[product_line_products] ADD  CONSTRAINT [DF_product_line_products_uuid]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[product_lines] ADD  CONSTRAINT [DF_product_lines_id]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF_products_uuid]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[attributes]  WITH CHECK ADD  CONSTRAINT [FK_attributes_attribute_groups] FOREIGN KEY([reference_uuid])
REFERENCES [dbo].[attribute_groups] ([uuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[attributes] CHECK CONSTRAINT [FK_attributes_attribute_groups]
GO
ALTER TABLE [dbo].[catalog_brands]  WITH CHECK ADD  CONSTRAINT [FK_catalog_brands_brands] FOREIGN KEY([brand_uuid])
REFERENCES [dbo].[brands] ([uuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[catalog_brands] CHECK CONSTRAINT [FK_catalog_brands_brands]
GO
ALTER TABLE [dbo].[catalog_brands]  WITH CHECK ADD  CONSTRAINT [FK_catalog_brands_catalogs] FOREIGN KEY([catalog_uuid])
REFERENCES [dbo].[catalogs] ([uuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[catalog_brands] CHECK CONSTRAINT [FK_catalog_brands_catalogs]
GO
ALTER TABLE [dbo].[product_attribute_values]  WITH CHECK ADD  CONSTRAINT [FK_product_attribute_values_product_attributes] FOREIGN KEY([reference_uuid])
REFERENCES [dbo].[product_attributes] ([uuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_attribute_values] CHECK CONSTRAINT [FK_product_attribute_values_product_attributes]
GO
ALTER TABLE [dbo].[product_attributes]  WITH CHECK ADD  CONSTRAINT [FK_product_attributes_attributes] FOREIGN KEY([attribute_uuid])
REFERENCES [dbo].[attributes] ([uuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_attributes] CHECK CONSTRAINT [FK_product_attributes_attributes]
GO
ALTER TABLE [dbo].[product_attributes]  WITH CHECK ADD  CONSTRAINT [FK_product_attributes_products] FOREIGN KEY([product_uuid])
REFERENCES [dbo].[products] ([uuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_attributes] CHECK CONSTRAINT [FK_product_attributes_products]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FK_product_images_products] FOREIGN KEY([reference_uuid])
REFERENCES [dbo].[products] ([uuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FK_product_images_products]
GO
ALTER TABLE [dbo].[product_line_products]  WITH CHECK ADD  CONSTRAINT [FK_product_line_products_product_lines] FOREIGN KEY([product_line_uuid])
REFERENCES [dbo].[product_lines] ([uuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_line_products] CHECK CONSTRAINT [FK_product_line_products_product_lines]
GO
ALTER TABLE [dbo].[product_line_products]  WITH CHECK ADD  CONSTRAINT [FK_product_line_products_products] FOREIGN KEY([product_uuid])
REFERENCES [dbo].[products] ([uuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_line_products] CHECK CONSTRAINT [FK_product_line_products_products]
GO
ALTER TABLE [dbo].[product_lines]  WITH CHECK ADD  CONSTRAINT [FK_product_lines_catalog_brands] FOREIGN KEY([reference_uuid])
REFERENCES [dbo].[catalog_brands] ([uuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_lines] CHECK CONSTRAINT [FK_product_lines_catalog_brands]
GO
USE [master]
GO
