USE [recommendation_system]
GO
/****** Object:  Table [dbo].[ProductEmbeddings]    Script Date: 1/5/2026 7:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductEmbeddings](
	[product_uuid] [uniqueidentifier] NOT NULL,
	[embedding] [varbinary](max) NOT NULL,
	[generated_description] [ntext] NULL,
 CONSTRAINT [PK__ProductE__ED609518FCD735BD] PRIMARY KEY CLUSTERED 
(
	[product_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFavoriteWeight]    Script Date: 1/5/2026 7:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFavoriteWeight](
	[user_uid] [uniqueidentifier] NOT NULL,
	[user_weight] [varbinary](max) NULL,
	[generated_preferences] [ntext] NOT NULL,
 CONSTRAINT [PK_UserFavoriteWeight] PRIMARY KEY CLUSTERED 
(
	[user_uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRating]    Script Date: 1/5/2026 7:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRating](
	[user_uid] [uniqueidentifier] NOT NULL,
	[product_uid] [uniqueidentifier] NOT NULL,
	[content] [ntext] NULL,
	[rating] [float] NULL,
 CONSTRAINT [PK_UserRating] PRIMARY KEY CLUSTERED 
(
	[user_uid] ASC,
	[product_uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utility_matrix]    Script Date: 1/5/2026 7:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utility_matrix](
	[user_uid] [uniqueidentifier] NOT NULL,
	[product_uid] [uniqueidentifier] NOT NULL,
	[rating] [float] NOT NULL,
 CONSTRAINT [PK_utility_matrix] PRIMARY KEY CLUSTERED 
(
	[user_uid] ASC,
	[product_uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[UserRating] ([user_uid], [product_uid], [content], [rating]) VALUES (N'3b612104-c6fd-4d50-a778-204f08dd3c0c', N'7183fb41-0a79-4f2d-9f17-002f0eaedaa9', N'Tôi rất thích chiếc laptop này vì kích thước nó gọn nhẹ cấu hình phù hợp với dân văn phòng, thuận tiên cho việc di chuyển', 5)
INSERT [dbo].[UserRating] ([user_uid], [product_uid], [content], [rating]) VALUES (N'3b612104-c6fd-4d50-a778-204f08dd3c0c', N'007afa45-fc57-47e2-a8c1-bd9cea10b615', N'', 4)
INSERT [dbo].[UserRating] ([user_uid], [product_uid], [content], [rating]) VALUES (N'22fd5f0a-c95a-4ff3-9ff3-4dfc0777acaa', N'82f185f8-8dc4-4ae2-a857-fcb4006c0930', N'san pham kha ok', 5)
GO
INSERT [dbo].[utility_matrix] ([user_uid], [product_uid], [rating]) VALUES (N'3b612104-c6fd-4d50-a778-204f08dd3c0c', N'7183fb41-0a79-4f2d-9f17-002f0eaedaa9', 5)
INSERT [dbo].[utility_matrix] ([user_uid], [product_uid], [rating]) VALUES (N'3b612104-c6fd-4d50-a778-204f08dd3c0c', N'007afa45-fc57-47e2-a8c1-bd9cea10b615', 4)
INSERT [dbo].[utility_matrix] ([user_uid], [product_uid], [rating]) VALUES (N'22fd5f0a-c95a-4ff3-9ff3-4dfc0777acaa', N'82f185f8-8dc4-4ae2-a857-fcb4006c0930', 5)
GO
/****** Object:  StoredProcedure [dbo].[sp_rebuild_User_Rating]    Script Date: 1/5/2026 7:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_rebuild_User_Rating]
AS
BEGIN
  SET NOCOUNT ON; --- for what?
  SET XACT_ABORT ON; -- gặp lỗi sẽ tự động rollback khi rời TRY/CATCH

  BEGIN TRY
    BEGIN TRAN;--- ?

    -- 1) Tính dữ liệu nguồn vào bảng tạm
    IF OBJECT_ID('tempdb..#UserRatingTemp') IS NOT NULL DROP TABLE UserRatingTemp;--- bảng tạm # và ##??
    SELECT
      b.customer_uuid AS user_uid,
      b.product_uuid  AS product_uid,
	  STRING_AGG(b.content, ', ') AS contents,
      CAST(SUM(b.star * b.number) AS decimal(10,4)) / NULLIF(SUM(b.number), 0) AS rating
    INTO #UserRatingTemp
    FROM (
      SELECT 
          t2.customer_uuid,
          t1.product_uuid,
          t1.number,
          t3.star,
		  t3.content
      FROM [LOCALHOST, 1433].[order].[dbo].[order_lines] AS t1
      INNER JOIN (
          SELECT uuid, customer_uuid
          FROM [LOCALHOST, 1433].[order].[dbo].[orders]
          WHERE status = 'SUCCESS'
      ) AS t2
        ON t1.order_uuid = t2.uuid
      INNER JOIN (
          SELECT order_line_uuid, star, content
          FROM [LOCALHOST, 1433].[order].[dbo].[reviews]
      ) AS t3
        ON t1.uuid = t3.order_line_uuid
    ) AS b
    GROUP BY b.customer_uuid, b.product_uuid;

    -- 2) Làm sạch bảng đích và nạp lại
    TRUNCATE TABLE dbo.UserRating;

    INSERT INTO dbo.UserRating (user_uid, product_uid, content, rating)
    SELECT user_uid, product_uid, contents, rating
    FROM #UserRatingTemp
    WHERE rating IS NOT NULL;  -- tránh NaN khi SUM(number)=0

    COMMIT TRAN;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRAN;

    -- Ném lại lỗi (để Agent/ứng dụng bắt được)
    THROW;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_rebuild_utility_matrix]    Script Date: 1/5/2026 7:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_rebuild_utility_matrix]
AS
BEGIN
  SET NOCOUNT ON; --- for what?
  SET XACT_ABORT ON; -- gặp lỗi sẽ tự động rollback khi rời TRY/CATCH

  BEGIN TRY
    BEGIN TRAN;--- ?

    -- 1) Tính dữ liệu nguồn vào bảng tạm
    IF OBJECT_ID('tempdb..#agg') IS NOT NULL DROP TABLE #agg;--- bảng tạm # và ##??
    SELECT
      b.customer_uuid AS user_uid,
      b.product_uuid  AS product_uid,
      CAST(SUM(b.star * b.number) AS decimal(10,4)) / NULLIF(SUM(b.number), 0) AS rating
    INTO #agg
    FROM (
      SELECT 
          t2.customer_uuid,
          t1.product_uuid,
          t1.number,
          t3.star
      FROM [LOCALHOST, 1433].[order].[dbo].[order_lines] AS t1
      INNER JOIN (
          SELECT uuid, customer_uuid
          FROM [LOCALHOST, 1433].[order].[dbo].[orders]
          WHERE status = 'SUCCESS'
      ) AS t2
        ON t1.order_uuid = t2.uuid
      INNER JOIN (
          SELECT order_line_uuid, star
          FROM [LOCALHOST, 1433].[order].[dbo].[reviews]
      ) AS t3
        ON t1.uuid = t3.order_line_uuid
    ) AS b
    GROUP BY b.customer_uuid, b.product_uuid;

    -- 2) Làm sạch bảng đích và nạp lại
    TRUNCATE TABLE dbo.utility_matrix;

    INSERT INTO dbo.utility_matrix (user_uid, product_uid, rating)
    SELECT user_uid, product_uid, rating
    FROM #agg
    WHERE rating IS NOT NULL;  -- tránh NaN khi SUM(number)=0

    COMMIT TRAN;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRAN;

    -- Ném lại lỗi (để Agent/ứng dụng bắt được)
    THROW;
  END CATCH
END
GO
