USE [master]
GO
/****** Object:  Database [user]    Script Date: 11/18/2025 9:46:54 AM ******/
CREATE DATABASE [user]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user', FILENAME = N'/var/opt/mssql/data/user.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'user_log', FILENAME = N'/var/opt/mssql/data/user_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user]
GO
/****** Object:  Table [dbo].[account_roles]    Script Date: 11/18/2025 9:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_roles](
	[username] [nvarchar](50) NOT NULL,
	[role_uuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_account_roles] PRIMARY KEY CLUSTERED 
(
	[username] ASC,
	[role_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 11/18/2025 9:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](200) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[staff_uuid] [uniqueidentifier] NULL,
	[customer_uuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_accounts] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 11/18/2025 9:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[uuid] [uniqueidentifier] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](10) NULL,
	[birth_date] [datetime] NULL,
	[phone_number] [varchar](10) NULL,
	[email] [nvarchar](100) NOT NULL,
	[photo_url] [nvarchar](200) NULL,
	[address] [nvarchar](300) NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 11/18/2025 9:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
	[uuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_permissions] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 11/18/2025 9:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_uuid] [uniqueidentifier] NOT NULL,
	[permission_uuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_role_permissions] PRIMARY KEY CLUSTERED 
(
	[role_uuid] ASC,
	[permission_uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 11/18/2025 9:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[uuid] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staffs]    Script Date: 11/18/2025 9:46:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staffs](
	[uuid] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[birth_date] [datetime] NOT NULL,
	[gender] [nvarchar](10) NOT NULL,
	[phone_number] [varchar](10) NOT NULL,
	[email] [nvarchar](100) NULL,
 CONSTRAINT [PK_staffs] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[account_roles] ([username], [role_uuid]) VALUES (N'ADMIN', N'cdcf133d-6aea-411c-ab46-8646520cca5f')
INSERT [dbo].[account_roles] ([username], [role_uuid]) VALUES (N'NV00001', N'968e85c9-72fb-4f86-98eb-fc1622abb60d')
INSERT [dbo].[account_roles] ([username], [role_uuid]) VALUES (N'NV00002', N'1da61de2-c31b-4379-a716-0fef7d2ac4d9')
GO
INSERT [dbo].[accounts] ([username], [password], [status], [staff_uuid], [customer_uuid]) VALUES (N'ADMIN', N'$2a$10$RH2kNdzU/o3PfWae.kE7yOP6NA97tvaw1yN1tuDfjLGapTYp57XI6', N'ACTIVE', N'0ea4eb81-37ab-4b5f-afbc-bcc138fc3817', NULL)
INSERT [dbo].[accounts] ([username], [password], [status], [staff_uuid], [customer_uuid]) VALUES (N'manh@gmail.com', N'$2a$10$RwZa25Pa87Asa8B08HbKiuWAoFVc1w/Dl23Xqk2GofkzXtMiSYQAe', N'ACTIVE', NULL, N'0686d8e7-ec6a-45fd-a959-6be19a1e95f8')
INSERT [dbo].[accounts] ([username], [password], [status], [staff_uuid], [customer_uuid]) VALUES (N'NV00001', N'$2a$10$cpBDuiv2RhcoOGoPKNH0j.jP6dGZCPOjQCCW79tn0eLRYJ/nRzXaa', N'ACTIVE', N'556653cb-28d8-4d90-afa0-e944dde86725', NULL)
GO
INSERT [dbo].[customers] ([uuid], [first_name], [last_name], [gender], [birth_date], [phone_number], [email], [photo_url], [address]) VALUES (N'0686d8e7-ec6a-45fd-a959-6be19a1e95f8', N'Đức Mạnh', N'Phùng', N'MALE', CAST(N'2025-11-05T00:00:00.000' AS DateTime), N'0337021937', N'manh@gmail.com', N'f266e587-483b-40dd-87dd-ce69dfa138ac', NULL)
INSERT [dbo].[customers] ([uuid], [first_name], [last_name], [gender], [birth_date], [phone_number], [email], [photo_url], [address]) VALUES (N'dcbfb818-024c-49cb-84d6-9d4dc27a55b2', N'Phùng', N'Đức Mạnh', N'MALE', CAST(N'2025-11-05T09:33:10.673' AS DateTime), N'', N'phungducmanh666@gmail.com', N'7466b01f-f523-4734-8f9a-59b524e1443b', N'Lê Thánh Tôn, Phuoc Hoa, Nha Trang, Khánh Hòa Province, 57100, Vietnam')
GO
INSERT [dbo].[permissions] ([name], [description], [uuid]) VALUES (N'sanpham', N'undefined', N'ed5b61e9-6b60-4292-ba06-7563540fbb3b')
INSERT [dbo].[permissions] ([name], [description], [uuid]) VALUES (N'kho', N'undefined', N'1c0c5af5-2824-406c-b358-83177d07fd89')
INSERT [dbo].[permissions] ([name], [description], [uuid]) VALUES (N'thongke', N'undefined', N'909c8560-9fe8-4aca-9e02-bd99652bcf99')
GO
INSERT [dbo].[role_permissions] ([role_uuid], [permission_uuid]) VALUES (N'1da61de2-c31b-4379-a716-0fef7d2ac4d9', N'b229bbde-33a2-4a0f-b22a-fc43b92f1ed7')
INSERT [dbo].[role_permissions] ([role_uuid], [permission_uuid]) VALUES (N'968e85c9-72fb-4f86-98eb-fc1622abb60d', N'ed5b61e9-6b60-4292-ba06-7563540fbb3b')
INSERT [dbo].[role_permissions] ([role_uuid], [permission_uuid]) VALUES (N'968e85c9-72fb-4f86-98eb-fc1622abb60d', N'909c8560-9fe8-4aca-9e02-bd99652bcf99')
GO
INSERT [dbo].[roles] ([uuid], [name], [description]) VALUES (N'1da61de2-c31b-4379-a716-0fef7d2ac4d9', N'nhan_su', N'')
INSERT [dbo].[roles] ([uuid], [name], [description]) VALUES (N'cdcf133d-6aea-411c-ab46-8646520cca5f', N'ALL', N'Quyền hạn cao nhất (Super Role)')
INSERT [dbo].[roles] ([uuid], [name], [description]) VALUES (N'968e85c9-72fb-4f86-98eb-fc1622abb60d', N'ban_hang', N'')
GO
INSERT [dbo].[staffs] ([uuid], [code], [first_name], [last_name], [birth_date], [gender], [phone_number], [email]) VALUES (N'0ea4eb81-37ab-4b5f-afbc-bcc138fc3817', N'ADMIN', N'Phùng', N'Đức Mạnh', CAST(N'2025-11-05T04:16:49.313' AS DateTime), N'MALE', N'0337021937', N'phungducmanh666@gmail.com')
INSERT [dbo].[staffs] ([uuid], [code], [first_name], [last_name], [birth_date], [gender], [phone_number], [email]) VALUES (N'4c90a39c-15b7-420c-af87-d47b7f5a9e89', N'NV00002', N'Đức Mạnh', N'Phùng', CAST(N'2025-11-12T00:00:00.000' AS DateTime), N'MALE', N'0123456789', N'manh@gmai.com')
INSERT [dbo].[staffs] ([uuid], [code], [first_name], [last_name], [birth_date], [gender], [phone_number], [email]) VALUES (N'556653cb-28d8-4d90-afa0-e944dde86725', N'NV00001', N'Đức Mạnh', N'Phùng', CAST(N'2025-11-14T00:00:00.000' AS DateTime), N'MALE', N'0337021937', N'manh@gmail.com')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_permissions]    Script Date: 11/18/2025 9:46:55 AM ******/
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [IX_permissions] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_roles]    Script Date: 11/18/2025 9:46:55 AM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [IX_roles] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_staffs]    Script Date: 11/18/2025 9:46:55 AM ******/
ALTER TABLE [dbo].[staffs] ADD  CONSTRAINT [IX_staffs] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [DF_customers_uuid]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [DF_permissions_uuid]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [DF_roles_uuid]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[staffs] ADD  CONSTRAINT [DF_staffs_uuid]  DEFAULT (newid()) FOR [uuid]
GO
ALTER TABLE [dbo].[account_roles]  WITH CHECK ADD  CONSTRAINT [FK_account_roles_accounts] FOREIGN KEY([username])
REFERENCES [dbo].[accounts] ([username])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[account_roles] CHECK CONSTRAINT [FK_account_roles_accounts]
GO
ALTER TABLE [dbo].[account_roles]  WITH CHECK ADD  CONSTRAINT [FK_account_roles_roles] FOREIGN KEY([role_uuid])
REFERENCES [dbo].[roles] ([uuid])
GO
ALTER TABLE [dbo].[account_roles] CHECK CONSTRAINT [FK_account_roles_roles]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FK_accounts_customers] FOREIGN KEY([customer_uuid])
REFERENCES [dbo].[customers] ([uuid])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FK_accounts_customers]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FK_accounts_staffs] FOREIGN KEY([staff_uuid])
REFERENCES [dbo].[staffs] ([uuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FK_accounts_staffs]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_permissions] FOREIGN KEY([permission_uuid])
REFERENCES [dbo].[permissions] ([uuid])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_permissions]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_roles] FOREIGN KEY([role_uuid])
REFERENCES [dbo].[roles] ([uuid])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_roles]
GO
USE [master]
GO
