spring:
  application:
    name: user
  profiles:
    active: dev
---
spring:
  config:
    activate:
      on-profile: dev

  r2dbc:
    url: ${DB_URL:r2dbc:mssql://localhost:1433/user}
    username: ${DB_USER:sa}
    password: ${DB_PASS:YourStrong!Passw0rd}

server:
  port: ${SERVER_PORT:9002}

---
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}

auth:
  google:
    client-id: ${GOOGLE_AUTH_CLIENT_ID}
    client-secret: ${GOOGLE_AUTH_CLIENT_SECRET}
    redirect-uri: ${GOOGLE_AUTH_REDIRECT_URL:http://localhost:4000/auth/google/callback}
